<% if current_user %>
  <h3>Welcome <%= current_user.name %>!</h3>
  <div>
    <% if current_user.steam %>
      <%= image_tag current_user.steam.image %>
      <%= image_tag current_user.twitter_image %>
      <%= link_to 'Tweet Steam Status', 
        { :controller => :tweet, :action => :update }, :class => 'btn btn-primary' %>
      <div>
        <div class='status'>
          <%= render :partial => 'status' %>
        </div>
        持ってるゲーム: <br>
        <div class='games'>
          <%= render :partial => 'games' %>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign in with Steam", "/auth/steam", :class => 'btn btn-success' %>
    <% end %>
  </div>
  <%= link_to "Sign Out", "/signout", :class => 'btn btn' %>
  <%= link_to 'DeleteMe', current_user, method: :delete, 
  data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% else %>
  <h1>Tweet Game Now You are Playing on Steam!!</h1>
  <%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn btn-primary' %>
<% end %>
