<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Appid</th>
      <th>Name</th>
      <th>Playtime 2weeks</th>
      <th>Playtime forever</th>
      <th>Logo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user %></td>
        <td><%= game.appid %></td>
        <td><%= game.name %></td>
        <td><%= game.playtime_2weeks %></td>
        <td><%= game.playtime_forever %></td>
        <td><%= game.logo %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
